<html>
    <head>
        <title>Openwallet - coin.ltra.cc</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="Openwallet - coin.ltra.cc"/>
        <meta property="og:url" content="https://coin.ltra.cc"/>
        <meta property="og:image" content="/static/images/banner.png"/>
        <meta property="og:description" content="Reveal Upbit wallet"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link href="/static/css/main.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js" integrity="sha512-2RDFHqfLZW8IhPRvQYmK9bTLfj/hddxGXQAred2wNZGkrKQkLGj8RCkXfRJPHlDerdHHIzTFaahq4s/P4V6Qig==" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
    </head>
    <body>
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col col-sm-7 text-center">
                    <h2 style="padding-bottom: 20px;">OpenWallet</h2>
                    <div class="row">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Nickname</span>
                            </div>
                            <input type="text" class="form-control" id="nick" aria-label="Nickname" aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">AccessKey</span>
                            </div>
                            <input type="text" class="form-control" id="access_key" aria-label="AccessKey" aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">SecretKey</span>
                            </div>
                            <input type="text" class="form-control" id="secret_key" aria-label="SecretKey" aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <input type="button" class="btn btn-dark" onclick="login()" value="등록">
                            <input type="button" class="btn btn-dark" onclick="remove()" value="등록해제">
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center">
                            (*) 주의사항: upbit의 Access key와 Secret key의 권한을 "자산조회"만 설정해주세요.
                        </div>
                    </div>
                </div>
            </div>
            <div id="snackbar"></div>
            <div class="footer">
                <div class="footer-item">
                    <a href="/">메인</a>
                </div>
                <div class="footer-item">
                    <a href="/ranking">랭킹</a>
                </div>
                <div class="footer-item">
                    <a href="/kimchi">김프</a>
                </div>
                <div class="footer-item">
                    <a href="#" class="share" data-clipboard-text="https://coin.ltra.cc/">공유하기</a>
                </div>
            </div>
        </div>
    </body>
    <script>
        function login() {
            $.ajax({
                method: "POST",
                url: "/setup",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    nick: $("#nick").val(),
                    access_key: $("#access_key").val(),
                    secret_key: $("#secret_key").val()
                }),
                success: (data) => {
                    if(data.error) {
                        alert("에러가 발생했습니다.")
                        return
                    }
                    location = "/user/" + $("#nick").val()
                }
            })
        }

        function remove() {
            $.ajax({
                method: "POST",
                url: "/remove",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    access_key: $("#access_key").val(),
                    secret_key: $("#secret_key").val()
                }),
                success: (data) => {
                    if(data.error) {
                        alert("에러가 발생했습니다.")
                        return
                    }
                    alert("로그아웃되었습니다.")
                }
            })
        }

        $(() => {
            var clipboard = new ClipboardJS('.share')
            clipboard.on('success', (e) => {
                Snackbar("복사 완료")
                console.log(e)
            })
            clipboard.on('error', (e) => {
                Snackbar("복사 실패")
                console.log(e);
            })

            function Snackbar(msg) {
                var x = document.getElementById("snackbar");
                x.className = "show";
                x.textContent = msg;
                setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
            }

            function inputcheck() {
                return $("#nick").val() && $("#access_key").val() && $("#secret_key").val()
            }

            $("input[class=form-control]").keydown(function (key) {
                if(key.keyCode == 13){
                    if(!inputcheck()) {
                        alert("모두 입력해주세요.")
                        return
                    }

                    login()
                }
            })
        })
    </script>
</html>