body {
    background-color: #313235;
    color: white;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
}

.currency {
    font-size: 2.0vmax;
}

.donation {
    font-size: 1.3vmax;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #313235;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#snackbar.show {
    visibility: visible;
    
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #28292d;
    color: white;
    text-align: center;
}

.footer > .footer-item {
    display: inline-block;
    padding: 10px;
}

.footer > .footer-item:hover {
    background-color: #222;
}

.footer > .footer-item > a {
    text-decoration: none;
    padding: 10px;
    color: white;
}

.red {
    color: #d60000;
}
.blue {
    color: #0051c7;
}